[submodule ".config/zsh/powerlevel10k"]
	path = .config/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/zsh/zsh-z"]
	path = .config/zsh/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule ".config/zsh/zsh-autocomplete"]
	path = .config/zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule ".config/kak/autoload/kakoune-buffers"]
	path = .config/kak/autoload/kakoune-buffers
	url = https://github.com/Delapouite/kakoune-buffers.git
[submodule ".config/kak/autoload/kakoune-buffer-switcher"]
	path = .config/kak/autoload/kakoune-buffer-switcher
	url = https://github.com/occivink/kakoune-buffer-switcher.git
[submodule ".config/kak/autoload/kakoune-sudo-write"]
	path = .config/kak/autoload/kakoune-sudo-write
	url = https://github.com/occivink/kakoune-sudo-write.git
[submodule ".config/zsh/per-directory-history"]
	path = .config/zsh/per-directory-history
	url = https://github.com/jimhester/per-directory-history.git
[submodule ".config/zsh/fast-syntax-highlighting"]
	path = .config/zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule ".config/zsh/zsh-abbr"]
	path = .config/zsh/zsh-abbr
	url = https://github.com/olets/zsh-abbr.git
[submodule ".config/zsh/history-search-multi-word"]
	path = .config/zsh/history-search-multi-word
	url = https://github.com/zdharma/history-search-multi-word.git
[submodule ".config/kak/autoload/kak-ansi"]
	path = .config/kak/autoload/kak-ansi
	url = https://github.com/eraserhd/kak-ansi.git
