!! Colorscheme

! special
*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

*.font: xft:DejaVu Sans Mono
URxvt.depth: 32
URxvt.background: rgba:0000/0000/0200/e800
URxvt.scrollBar: false

xterm*faceName: Dejavu Sans Mono
xterm*faceSize: 12
xterm*ScrollBar: false
xterm*scrollTtyOutput: false
xterm*savelines: 16384
